@use "variables" as v;

@mixin simple-width($width: 100%, $max-width: 1300px, $margin: 0 auto) {
  width: $width;
  max-width: $max-width;
  margin: $margin;
}

@mixin width-height($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

@mixin flex($direction: row, $wrap: nowrap, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin info() {
  font-size: 1rem;
  font-family: 500;
  border: 0.05rem solid rgb(255, 255, 255);
  border-radius: 200rem;
  padding: 0.5rem 3rem;
}

@mixin info-box() {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  border: 0.3rem solid rgb(0, 187, 255);
  border-bottom: none;
  border-radius: 2rem;
  background-color: #06002ea7;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

@mixin site-link() {
  font-size: 1rem;
  font-family: 500;
  border: 0.05rem solid rgb(255, 255, 255);
  border-radius: 200rem;
  padding: 0.5rem 1rem;
}

@mixin btn-hover() {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  background: #ffffff0f;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  span {
    position: relative;
    z-index: 2;
    color: v.$white;
    transition: v.$transition-3;
  }
  &::after {
    content: " ";
    width: 0%;
    height: 100%;
    background: v.$blue;
    position: absolute;
    z-index: 1;
    transition: v.$transition-3;
    right: 0;
    top: 0;
  }

  &:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }

  &:hover span {
    color: v.$black;
    animation: scaleUp 0.3s ease-in-out;
  }
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }
}
