//text sizes
$font-xsm: 0.7rem;
$font-sm: 0.8rem;
$font-base: 0.9rem;
$font-lg: 1rem;
$font-xlg: 1.1rem;
$font-xxlg: 1.3rem;
$font-xxxlg: 1.5rem;
$font-xxxxlg: 1.8rem;

//font weight
$font-weight-xsm: 450;
$font-weight-sm: 500;
$font-weight-base: 550;
$font-weight-lg: 600;
$font-weight-xlg: 700;
$font-weight-xxlg: 800;
$font-weight-xxxlg: 900;
$font-weight-bold: bold;

//!borders

//border radius
$radius-sm: 0.3rem;
$radius-base: 0.5rem;
$radius-lg: 0.8rem;
$radius-xlg: 1rem;
$radius-xxlg: 2rem;
$radius-xxxlg: 2.5rem;

//border widths
$border-width-xsm: 0.001rem;
$border-width-sm: 0.01rem;
$border-width-base: 0.05rem;
$border-width-lg: 0.1rem;
$border-width-xlg: 0.15rem;
$border-width-xxlg: 0.2rem;

//!margins

//margin sizes
$margin-xsm: 0.3rem;
$margin-sm: 0.5rem;
$margin-base: 1rem;
$margin-lg: 2rem;
$margin-xlg: 3rem;
$margin-xxlg: 5rem;
$margin-xxxlg: 7rem;

//!paddings

//padding sizes
$padding-xsm: 0.3rem;
$padding-sm: 0.8rem;
$padding-base: 1rem;
$padding-lg: 2rem;
$padding-xlg: 5rem;
$padding-xxlg: 8rem;

//! colore

$green: #73ff00;
$white: #ffffff;
$black: #000000;
$blue: #65d6ff;
$gray: #c8c8c8;

//!transitions

//transition durations
$transition-1: all 0.1s ease-in-out;

$transition-2: all 0.2s ease-in-out;

$transition-3: all 0.3s ease-in-out;

$transition-4: all 0.4s ease-in-out;

$transition-5: all 0.5s ease-in-out;
