@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  letter-spacing: 0.03rem;
  line-height: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background-color: #000031;
}

.loader-paarent {
  position: fixed;
  inset: 0;
  background-color: #001436;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10000000000000000 !important;
  gap: 1rem;
}

.loader {
  display: inline-flex;
  gap: 0.5rem;
}

.loader:before,
.loader:after {
  content: "";
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #000 95%, rgba(0, 0, 0, 0)) 35% 35%/0.5rem 0.5rem no-repeat #fff;
  transform: scaleX(var(--s, 1)) rotate(0deg);
  animation: l6 1s infinite linear;
}

.loader:after {
  --s: -1;
  animation-delay: -0.1s;
}

@keyframes l6 {
  100% {
    transform: scaleX(var(--s, 1)) rotate(360deg);
  }
}
section {
  scroll-margin-top: 7rem;
}

.background-site {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  background-image: url("../images/blob-scene-haikei.svg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.background-site div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

button {
  -webkit-appearance: none;
  appearance: none;
  color: #000000;
  cursor: pointer;
  border: none;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

code,
pre {
  font-family: "Fira Code", monospace;
}

header {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 100dvh;
  overflow: hidden;
}

.nav-mobile {
  display: none !important;
}

.nav {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed;
  margin-top: 2rem;
  padding: 0 2rem;
  z-index: 999999999;
}
.nav section,
.nav .btn-hover {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 5rem;
  height: 3rem;
  background: rgba(6, 0, 46, 0.6549019608);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 0.8rem 1rem;
  border: 0.05rem solid rgb(114, 114, 114);
  border-radius: 200rem;
  font-size: 0.9rem;
  font-weight: 500;
}
.nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.nav ul li {
  margin: 0 1rem;
}
.nav ul li a {
  color: #ffffff;
  transition: color 0.2s ease-in-out;
  padding: 0.3rem 0.8rem;
}
.nav ul li a:hover {
  color: #65d6ff;
}

.nav-link.active {
  color: #65d6ff;
}

.nav-logo-contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.nav-logo img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.btn-hover {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.0588235294);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.btn-hover span {
  position: relative;
  z-index: 2;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.btn-hover::after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #65d6ff;
  position: absolute;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  right: 0;
  top: 0;
}
.btn-hover:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}
.btn-hover:hover span {
  color: #000000;
  animation: scaleUp 0.3s ease-in-out;
}
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.drop-down-lang {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.drop-down-lang img {
  width: 2rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.drop-down-lang .drop-down-toggle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.drop-down-lang .drop-down-toggle i {
  margin-left: 0.5rem;
  transition: all 0.2s ease-in-out;
}
.drop-down-lang .drop-down {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 0.1rem;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 7rem;
  background: rgba(21, 21, 21, 0.8);
  border: 0.05rem solid rgb(114, 114, 114);
  border-radius: 1rem;
  padding: 0 0 1rem 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease-in-out;
}
.drop-down-lang .drop-down li {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}
.drop-down-lang .drop-down li a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.drop-down-lang .drop-down li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.drop-down-lang:hover i {
  rotate: 45deg;
}
.drop-down-lang:hover .drop-down {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.header-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  height: auto;
  padding: 2rem 1rem;
  text-align: center;
}

.title {
  font-size: clamp(1.3rem, 3vw, 2rem);
  font-weight: 550;
}
.title span {
  color: #65d6ff;
}

.orbit-parent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  align-items: center;
  width: clamp(20rem, 90dvw, 60rem);
  height: clamp(15rem, 70dvh, 35rem);
}

.orbit-container {
  position: relative;
  width: 100%;
  height: 85%;
}

.center-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  pointer-events: none;
  text-align: center;
  justify-content: center;
  z-index: 32;
}
.center-text h1 {
  font-size: clamp(1.1rem, 3vw, 2rem);
  font-weight: 600;
  background: rgba(6, 0, 46, 0.6549019608);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 0.1rem 0.8rem;
  border-radius: 0.5rem;
}

.typed-text {
  color: #73ff00;
}

.typed-text::after {
  content: "|";
  animation: blink 1s infinite;
  color: #888;
  margin-left: 4px;
}

.orbit-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.0588235294);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1rem;
}
.orbit-item img {
  width: clamp(2.5rem, 6vw, 5rem);
  height: clamp(2.5rem, 6vw, 5rem);
  object-fit: contain;
  margin: 0.3rem;
  transition: all 0.2s ease-in-out;
}
.orbit-item img:hover {
  transform: scale(1.1);
}

/* انیمیشن‌ها */
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moveRect {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 100%;
    transform: translateX(-100%);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  75% {
    top: 100%;
    left: 0;
    transform: translateY(-100%);
  }
  100% {
    top: 0;
    left: 0;
  }
}
/* هر آیتم با تاخیر */
.orbit-item:nth-child(1) {
  animation: appear 0.3s forwards 0s, moveRect 20s linear infinite 0s;
}

.orbit-item:nth-child(2) {
  animation: appear 0.3s forwards 2.5s, moveRect 20s linear infinite 2.5s;
}

.orbit-item:nth-child(3) {
  animation: appear 0.3s forwards 5s, moveRect 20s linear infinite 5s;
}

.orbit-item:nth-child(4) {
  animation: appear 0.3s forwards 7.5s, moveRect 20s linear infinite 7.5s;
}

.orbit-item:nth-child(5) {
  animation: appear 0.3s forwards 10s, moveRect 20s linear infinite 10s;
}

.orbit-item:nth-child(6) {
  animation: appear 0.3s forwards 12.5s, moveRect 20s linear infinite 12.5s;
}

.orbit-item:nth-child(7) {
  animation: appear 0.3s forwards 15s, moveRect 20s linear infinite 15s;
}

.orbit-item:nth-child(8) {
  animation: appear 0.3s forwards 17.5s, moveRect 20s linear infinite 17.5s;
}

@media (max-width: 800px) {
  .nav section,
  .nav .btn-hover {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .nav ul li {
    margin: 0 0.3rem;
  }
}
@media (width <= 650px) {
  .nav-des {
    display: none;
  }
  .nav {
    padding: 0 0.3rem;
  }
  .nav-mobile {
    display: flex !important;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
  }
  .nav-section-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between !important;
    align-items: center;
    width: 100% !important;
    background: none !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
    border: none !important;
    padding: 0 !important;
    margin-top: 0.3rem;
  }
  .nav-mobile-top {
    width: 100% !important;
  }
  .nav-mobile-top ul {
    width: 100%;
    justify-content: space-around !important;
  }
  .nav-mobile-top a {
    font-size: 0.8rem;
    font-weight: 550;
  }
  .nav-logo-mobile {
    background: rgba(0, 0, 0, 0.1294117647);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 0 1rem;
    border: 0.05rem solid rgb(114, 114, 114);
    border-radius: 200rem;
  }
  .nav-logo-mobile img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .title {
    background: rgba(6, 0, 46, 0.6549019608);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0.8rem;
    padding: 0.3rem;
  }
}
main {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.top-info {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.top-info-name {
  font-size: 1rem;
  font-family: 500;
  border: 0.05rem solid rgb(255, 255, 255);
  border-radius: 200rem;
  padding: 0.5rem 3rem;
  background: rgba(0, 0, 0, 0.1294117647);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.top-info-txt-img-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
}

.top-info-text {
  width: 60%;
  background-color: rgba(6, 0, 46, 0.6549019608);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 0.8rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2;
}

.top-info-img {
  width: 40%;
  height: 20rem;
}
.top-info-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-box {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  border: 0.3rem solid rgb(0, 187, 255);
  border-bottom: none;
  border-radius: 2rem;
  background-color: rgba(6, 0, 46, 0.6549019608);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0 0 7rem 0;
}

.info-box-testimonials {
  padding-bottom: 0 !important;
}

.top-info-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 2rem;
}

.top-info-box-name {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.top-info-box-name h2 {
  font-size: 1.3rem;
  font-weight: 900;
  font-family: monospace;
}

.top-info-box-name::before {
  content: " </ ";
  color: #4caf50;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.8rem;
}

.top-info-box-name::after {
  content: " > ";
  color: #4caf50;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.8rem;
}

.ai-matrix-loader {
  width: 10rem;
  height: 12rem;
  position: relative;
  perspective: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.digit {
  color: #00ff88;
  font-family: monospace;
  font-size: 18px;
  text-align: center;
  text-shadow: 0 0 5px #00ff88;
  animation: matrix-fall 2s infinite, matrix-flicker 0.5s infinite;
  opacity: 0;
}

.digit:nth-child(1) {
  animation-delay: 0.1s;
}

.digit:nth-child(2) {
  animation-delay: 0.3s;
}

.digit:nth-child(3) {
  animation-delay: 0.5s;
}

.digit:nth-child(4) {
  animation-delay: 0.7s;
}

.digit:nth-child(5) {
  animation-delay: 0.9s;
}

.digit:nth-child(6) {
  animation-delay: 1.1s;
}

.digit:nth-child(7) {
  animation-delay: 1.3s;
}

.digit:nth-child(8) {
  animation-delay: 1.5s;
}

.glow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, rgba(0, 255, 136, 0.1) 0%, transparent 70%);
  animation: matrix-pulse 2s infinite;
}

@keyframes matrix-fall {
  0% {
    transform: translateY(-50px) rotateX(90deg);
    opacity: 0;
  }
  20%, 80% {
    transform: translateY(0) rotateX(0deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(50px) rotateX(-90deg);
    opacity: 0;
  }
}
@keyframes matrix-flicker {
  0%, 19%, 21%, 100% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.2;
  }
}
@keyframes matrix-pulse {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
}
.skil {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  width: 95%;
}
.skil:hover .skil-img {
  padding: 2rem;
}

.skil-first {
  margin-top: 2rem;
}

.skil-img {
  width: 30%;
  padding: 3rem;
  transition: all 0.2s ease-in-out;
}
.skil-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.skil-txt {
  width: 70%;
  padding: 0 1rem;
}
.skil-txt h3 {
  font-size: 1.5rem;
  font-weight: 550;
}
.skil-txt p {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1rem;
}

.info-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.info-content-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 48%;
  padding: 1rem;
}

.info-content-box-img {
  width: 100%;
  height: 50vw;
  max-height: 20rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}
.info-content-box-img img {
  width: 100%;
  height: auto;
  min-height: 100%;
  object-fit: cover;
  transform: translateY(0);
  transition: transform 1s ease;
}
.info-content-box-img:hover img {
  transform: translateY(-50%);
}

.overlay-site-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.overlay-site-link a {
  font-size: 1rem;
  font-family: 500;
  border: 0.05rem solid rgb(255, 255, 255);
  border-radius: 200rem;
  padding: 0.5rem 1rem;
}

.info-content-box-img:hover .overlay-site-link {
  opacity: 1;
}

.info-content-box-txt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 1rem;
}
.info-content-box-txt a {
  font-size: 1.3rem;
  font-weight: 550;
  text-decoration: underline wavy;
  transition: all 0.2s ease-in-out;
}
.info-content-box-txt a:hover {
  color: #65d6ff;
}
.info-content-box-txt p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 1rem;
}

.top-info-box-mini {
  margin-top: 7rem;
}

.info-content-mini {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem 0;
  margin-top: 2rem;
}

.info-content-box-mini {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  height: 30rem;
  overflow: hidden;
  padding: 0.8rem 1rem;
}

.info-content-box-img-mini {
  height: 40% !important;
}

.swiper {
  width: 95%;
  margin: 5rem auto 1rem auto;
  padding-bottom: 4rem;
  position: relative;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto !important;
  padding: 0.8rem;
  border-right: 0.001rem solid #73ff00;
  cursor: grab;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}

.swiper-pagination-bullet {
  background: #65d6ff;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #73ff00;
  opacity: 1;
}

.info-client {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.info-client div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
.info-client span {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 1rem;
}
.info-client a {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0 1rem;
  transition: all 0.2s ease-in-out;
}
.info-client a:hover {
  color: #65d6ff;
}

.info-client-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}
.info-client-img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.info-client-txt {
  margin-top: 1rem;
  height: 100%;
}
.info-client-txt p {
  font-size: 1rem;
  font-weight: 450;
  height: 100%;
  line-height: 1.8;
}

.contact-section-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.contact-section-left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.contact-section-left-txt {
  width: 100%;
  background: rgba(6, 0, 46, 0.6549019608);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 0.8rem;
  border-radius: 1rem;
}
.contact-section-left-txt span {
  font-size: 1.1rem;
  font-weight: 550;
}
.contact-section-left-txt p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.contact-section-left-p-e {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  gap: 1rem;
}
.contact-section-left-p-e div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 2rem 0.8rem;
  background: rgba(6, 0, 46, 0.6549019608);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.001rem solid #65d6ff;
  border-radius: 2.5rem;
}
.contact-section-left-p-e div span {
  font-size: 1.1rem;
  font-weight: 550;
}
.contact-section-left-p-e div a {
  font-size: 1.1rem;
  font-weight: 550;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}
.contact-section-left-p-e div a:hover {
  color: #65d6ff;
}

.contact-section-left-social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  padding: 2rem 0.8rem;
  background: rgba(6, 0, 46, 0.6549019608);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.001rem solid #65d6ff;
  border-radius: 2.5rem;
}

.socialBtn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.socialBtn:hover {
  transform: scale(1.2);
}

.svgContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 0.8px;
  border-radius: 2rem;
  border: 1px solid rgba(156, 156, 156, 0.466);
  transition: all 0.3s ease-in-out;
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 2rem;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.socialBtn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.socialBtn:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
}

.instagram-BG {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09433", endColorstr="#bc1888",GradientType=1 );
}

.whatsappBG {
  background: #25d366;
}

.linkdinBG {
  background: #0077b5;
}

.githubBG {
  background: #181818;
}

.contact-section-right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  height: 35rem;
  background: rgba(6, 0, 46, 0.6549019608);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.001rem solid #65d6ff;
  border-radius: 2.5rem;
  padding: 1rem 2rem;
}

#enquery-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
#enquery-form h2 {
  font-size: 1.5rem;
  font-weight: 550;
  margin: 2rem 0;
}

.form-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0 1rem;
}
.form-content div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.form-content label {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0 0.3rem 0;
}
.form-content input,
.form-content select,
.form-content .phone-field {
  color: #ffffff;
  font-size: 0.9rem;
  width: 100%;
  height: 2rem;
  padding: 0 0.8rem;
  border-radius: 2.5rem;
  background: rgba(255, 255, 255, 0.0509803922);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.001rem solid #65d6ff;
}
.form-content select option {
  color: #000 !important;
  background: #fff !important;
}

.phone-field {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row !important;
  padding: 0 0.3rem !important;
}
.phone-field input {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.country-code {
  width: 40% !important;
  height: 100% !important;
  justify-content: center !important;
  align-items: center !important;
}

#country-select {
  background: none !important;
  border: none !important;
  color: #ffffff;
  width: 100% !important;
  padding: 0 !important;
}

.form-message {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.form-message textarea {
  color: #ffffff;
  width: 100%;
  height: 10rem;
  margin-top: 0.5rem;
  resize: none;
  padding: 0.8rem 0.8rem;
  background: rgba(255, 255, 255, 0.0509803922);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.001rem solid #65d6ff;
  border-radius: 1rem;
}

.check-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.check-btn button {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.1rem 2.5rem;
  background: rgba(255, 255, 255, 0.0509803922);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.001rem solid #65d6ff;
  border-radius: 2.5rem;
}

@media (width <= 1300px) {
  .contact-section-right {
    width: 45%;
  }
  .contact-section-left-p-e {
    gap: 0.8rem;
  }
  .contact-section-left-p-e div a {
    font-size: 1rem;
  }
}
@media (width <= 1000px) {
  .contact-section-parent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .contact-section-left {
    width: 85%;
  }
  .contact-section-right {
    width: 85%;
    height: 40rem;
    margin-top: 7rem;
  }
  .form-content input,
  .form-content select,
  .form-content .phone-field {
    height: 3rem;
  }
  .form-message {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .form-message textarea {
    height: 10rem;
  }
}
@media (width <= 900px) {
  .top-info-text {
    font-size: 0.9rem;
  }
  .info-content-box-txt {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }
  .info-content-box-txt a {
    font-size: 1.1rem;
  }
  .info-content-box-txt p {
    font-size: 0.8rem;
  }
  .skil:hover .skil-img {
    padding: 1rem;
  }
  .skil-img {
    padding: 2rem;
  }
}
@media (width <= 800px) {
  .info-content-box-mini {
    width: 50%;
  }
}
@media (width <= 600px) {
  * {
    line-height: 1.6;
  }
  .info-content-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }
  .info-content-mini {
    gap: 1rem 0;
  }
  .info-content-box-mini {
    width: 100%;
  }
  .top-info-txt-img-parent,
  .skil {
    flex-direction: column;
  }
  .top-info-img,
  .skil-img {
    order: 1;
    width: 100%;
  }
  .top-info-text {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 550;
  }
  .skil-txt {
    padding: 0;
  }
  .top-info-text,
  .skil-txt {
    order: 2;
    width: 100%;
  }
  .top-info-text p,
  .skil-txt p {
    font-size: 1rem;
    font-weight: 550;
  }
  .top-info-text {
    margin-top: 0.5rem;
    padding: 0.8rem;
  }
  .top-info-box-name h2 {
    font-size: clamp(1rem, 3vw, 2.5rem);
    font-weight: 900;
  }
  .top-info-box-name::before,
  .top-info-box-name::after {
    font-size: 1rem;
  }
  .ai-matrix-loader {
    width: 4rem;
    height: 7rem;
    gap: 0.3rem;
  }
  .digit {
    font-size: 13px;
  }
  .swiper {
    margin-top: 1rem !important;
  }
  .contact-section-left {
    width: 100%;
  }
  .contact-section-left-p-e {
    flex-direction: column;
  }
  .contact-section-left-p-e div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .contact-section-left-p-e div a {
    font-size: 1.1rem;
  }
  .contact-section-left-txt p {
    margin-top: 0;
  }
  .contact-section-right {
    width: 100%;
    height: auto;
    padding: 1rem 0.8rem;
  }
  .contact-section-right label {
    font-size: 0.9rem;
  }
  .contact-section-right h2 {
    margin-bottom: 0.5rem !important;
    margin-top: 1rem;
  }
  .form-content {
    gap: 0 0.5rem;
    flex-direction: column;
  }
  .form-content label {
    margin-top: 1rem;
  }
  .form-message,
  .check-btn {
    margin-top: 1rem;
  }
}
footer {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(6, 0, 46, 0.6549019608);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1rem 1rem 0 0;
  margin-top: 15rem;
  overflow: hidden;
}

.footer-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 2rem 1rem 1rem;
}

.footer-top-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 33%;
  height: 100%;
}
.footer-top-content p {
  line-height: 1.7rem;
}
.footer-top-content .footer-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 550;
  color: #73ff00;
  margin-bottom: 1rem;
}
.footer-top-content .footer-title img {
  width: 2.5rem;
  height: 2.5rem;
}
.footer-top-content a {
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
}
.footer-top-content a:hover {
  color: #65d6ff;
}
.footer-top-content p {
  font-size: 0.8rem;
  font-weight: 550;
  color: #c8c8c8;
}
.footer-top-content p,
.footer-top-content li {
  margin-top: 0.3rem;
}
.footer-top-content li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.footer-top-content li span {
  color: #c8c8c8;
}
.footer-top-content li a {
  margin-left: 0.5rem;
}

.Quick-links {
  padding-left: 5rem;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 0.05rem solid #65d6ff;
  padding: 2rem 0;
}
.footer-bottom span {
  font-size: 0.9rem;
  font-weight: 0.8rem;
  margin-top: 1rem;
  text-align: center;
}
.footer-bottom a {
  color: #65d6ff;
}

@media (width <= 900px) {
  .footer-top-content .footer-title {
    font-size: 1rem;
  }
  .footer-top-content a {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .footer-top-content p {
    font-size: 0.7rem;
  }
  .footer-top-content {
    width: 35%;
  }
  .footer-top-content-left {
    width: 40%;
  }
  .Quick-links {
    padding-left: 2rem;
    width: 25%;
  }
}
@media (width <= 802px) {
  .footer-top {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
  }
  .footer-top-fa {
    align-items: flex-end;
  }
  .footer-top-content-left {
    width: 100% !important;
    order: 1;
  }
  .Quick-links,
  .contact-footer {
    width: 50%;
    margin-top: 2rem;
  }
  .Quick-links span,
  .contact-footer span {
    font-size: 0.9rem;
  }
  .Quick-links {
    padding: 0 !important;
    margin-left: 0;
    order: 3;
  }
  .contact-footer {
    order: 2;
  }
  .footer-bottom span {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=main.css.map */